body{
    padding: 0;
    margin: 0; 
}
.navbar{
    height: 100px;
    width: 100%;
}

.navbar img{
    width: 100px;
    height: 100px;
}

a, h2, h1{
    font-family: 'Chela One', cursive;
}

.home-slider{
    width: 100%;
    height: 900px
}

body{
    background-color: rgb(137, 228, 137);
}